* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.abc {
    background: #CCC;
    float: left;
    width: 70%;
    padding: 10px;
}

.xyz {
    background: gold;
    width: 30%;
    float: left;
    padding: 10px;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}